<h2> Dev Site </h2>

<h3> <%= link_to "Maven Repository", maven_path %> </h3>
<p> Collection of software packages in the maven format. </p>
<p> This repository is already added when including my FRC Vendor Deps files, but you can include it in other projects with the following
url:  <code> <%= maven_url %> </code> </p>

<h3> <%= link_to "FRC Vendor Deps Files", maven_frc_path %> </h3>
<p> Collection of vendordeps json files for use in FRC </p>