<!DOCTYPE html>
<html>
  <head>
    <title>I'm Jac.in/ta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "blog/email-milligram.css", media: "all" %>
  </head>

  <body>
  <main class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </main>
  </body>
</html>