---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} {% if page.hidden %} - <i class="fa fa-eye-slash"></i>  {% endif %} </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <a class="button" href="/ta/subscribe"> Subscribe to the mailing list! </a>

</div>
