<nav class="navigation" id="navigation">
  <section class="container">
    <a class="button button-clear" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% assign pages = site.pages | sort:"weight" %}
    {% for page in pages %}
      {% if page.title and page.menu and page.menu == "main" %}
      <a class="button button-clear" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

    <div style="float: right;">
      <a class="button button-clear" href="/ta/subscribe"> Subscribe </a>
      {% for page in pages %}
        {% if page.title and page.menu and page.menu != "main" %}
        <a class="button button-clear" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
      <a href="https://twitter.com/{{ site.twitter_username }}"> <i class="fa fa-twitter"></i> </a> &nbsp;
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"> <i class="fa fa-linkedin-square"></i> </a> &nbsp; 
      <a href="https://github.com/{{ site.github_username }}"> <i class="fa fa-github"></i> </a>
    </div>
  </section>
</nav>

